html {
  font-size: 100%;
  line-height: 1.15 serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  }

 body {
  font-family: Letter Gothic Std, serif; thin
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  color: #000;
  background-color: #f5e7d7;
  margin: 0;
  }

.framework {
  width: 90%;
  max-width: 60em;
  margin: 1em auto;
  }

figure {
  margin: 0;
  }

/* flexible images */

img {
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  }

#banner h1 {
  font-size: 5em;
  text-align: center;
  color: #000;
  background-color: #fff;
  padding: .5em 0;
  }

#banner h2 {
  font-size: 2em;
  text-align: center;
  color: #000;
  background-color: #f5e7d7;
  padding: .5em 0;
  }

#why-root-veggies h3 {
  font-size: 100%;
  line-height: 1.15 serif;
}

#why-root-veggies p {
  }

.gallery {
  list-style: none;
  padding-left: 0;
  }

.gallery .square {
  height: 0;
  padding-bottom: 74%;
  overflow: hidden;
  border: 1px solid #000;
  }


/* layout for wider screens */

@media (min-width: 48em) {

/* layout with with columns */

.gallery-4-items {
  columns: 2;
  column-gap: 1em;
  }

}

@media (min-width: 60em) {

/* layout with with columns */

.gallery-4-items {
  columns: 4;
  column-gap: 1em;
  }

/* layout with floats */

/* gallery for 4 items, 25% each; 3 gaps @ 2% = 6%, 100% - 6% = 94%, 94% / 4 images = 23.5% */

/*
.gallery-4-items li {
  float: left;
  width: 23.5%;
  margin-left: 2%;
  }
 */

/* remove the first gap */

/*
.gallery-4-items li:first-child {
  margin-left: 0;
  }
 */

}


nav {
  text-align: left;
  }

nav ul {
  list-style: none;
  padding-left: 0;
  }

nav li {
  border-top: 1px solid #000;
  }

nav li:first-child {
  border-top: none;
  }

nav a {
  display: inline-block;
  color: #000;
  text-decoration: none;
  padding: 1em 0;
  }


/* wider Screen layout */

@media (min-width: 40em) {


#banner h1 {
  font-size: 6em;

  }

@media (min-width: 60em) {


#banner h1 {
  font-size: 3em;
  }

}




