html {
  font-size: 100%;
  line-height: 1.15 serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  }

 body {
  font-family: Letter Gothic Std, serif; thin
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  color: #000;
  background-color: #f5e7d7;
  margin: 0;
  }

.framework {
  width: 90%;
  max-width: 60em;
  margin: 1em auto;
  }

figure {
  margin: 0;
  }

/* flexible images */

img {
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  }

#banner h1 {
  font-size: 3em;
  text-align: center;
  color: #000;
  background-color: #fff;
  padding: .5em 0;
  }

#banner h2 {
  font-size: 2em;
  text-align: center;
  color: #000;
  background-color: #f5e7d7;
  padding: .5em 0;
  }

#why-root-veggies {

  }

#why-root-veggies h3 {
  font-size: 100%;
  line-height: 1.15em serif;
}

#why-root-veggies p {
  text-align: left;
  columns: 3 16em;
  column-gap: 1.5em;
  }


#burdock .ingrediants p {

  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  }

#burdock .ingrediants ul {
  text-align: left;
  list-style-type: none;
  float: center;
  padding: 0;
  margin: auto;
  overflow: hidden;
  }

#beets .ingrediants p {

  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  }

#beets .ingrediants ul {
  text-align: left;
  list-style-type: none;
  float: center;
  padding: 0;
  margin: auto;
  overflow: hidden;
  }

#ingrediants p {
  list-style: none;
  text-align: center;
  padding-left: 0;
  }

.gallery {
  list-style: none;
  padding-left: 0;
  }

.gallery figure {
  display: inline-block;
  }

.gallery .square {
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  border: 1px solid #000;
  }


section p {
  text-align: left;
}

/* back to top / link */

/* # = id = unique, specific */
/* . = class = general, reusable, repeatable */


#top {
  position: fixed;
  bottom: 1em;   /* moved back to top circle up 1em from the bottom  edge  */
  right: 1em;    /* moved back to top circle in 1em from the right edge  */
  opacity: .5;   /* made the back to top circle transparent */
  }

#top .circle {
  display: inline-block; /* give it block properties: width/height */
  position: relative; /* keeps the triangle in the circle */
  width: 2em;
  height: 2em;
  background: #ccc;
  border: 1px solid #000;
  border-radius: 50%; /* rounded corners to make circle */
  }

#top .triangle {
  position: absolute;
  top: -.15em;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  line-height: 0;
  border: .5em dashed transparent; /* black square drawn solely by border */
  border-top: 0;
  border-bottom: 1em solid #000; /* triangle */
  overflow: hidden;
  margin: auto; /* vertical and horizontal centered since the width and height is defined and top/bottom/left/right */
  }

/* layout for wider screens */

@media (min-width: 48em) {

/* layout with with columns */

.gallery-4-items {
  columns: 2;
  column-gap: 1em;
  }

}

@media (min-width: 60em) {

/* layout with with columns */

.gallery-4-items {
  columns: 4;
  column-gap: 1em;
  }

/* layout with floats */

/* gallery for 4 items, 25% each; 3 gaps @ 2% = 6%, 100% - 6% = 94%, 94% / 4 images = 23.5% */

/*
.gallery-4-items li {
  float: left;
  width: 23.5%;
  margin-left: 2%;
  }
 */

/* remove the first gap */

/*
.gallery-4-items li:first-child {
  margin-left: 0;
  }
 */

}


nav {
  text-align: left;
  }

nav summary {
  visibility: hidden;
  position: relative;
  width: 2em;
  cursor: pointer;
}

nav summary:before {
  visibility: visible;
  display: block;
  position: absolute;
  top: .575em;
  content: "";
  width: 100%;
  border-top: .125em solid #000;
  z-index: 1;
}

nav summary b {
  visibility: visible;
  display: block;
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  line-height: 0;
  border-top: .125em solid #000;
  border-bottom: .125em solid #000;
  padding-left: 2em;
  padding-bottom: 1em;
  overflow: hidden;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  }

nav li {
  border-top: 1px solid #000;
  }

nav li:first-child {
  border-top: none;
  }

nav a {
  display: inline-block;
  color: #000;
  text-decoration: none;
  padding: 1em 0;
  }


/* wider Screen layout */

@media (min-width: 40em) {


#banner h1 {
  font-size: 4.5em;

  }

#ingrediants p {
  font-size: 1.5em;
}

@media (min-width: 60em) {


#banner h1 {
  font-size: 6em;
  }

#ingrediants p {
  font-size: 1.5em;
}
}
