html {
  font-size: 100%
  line-height: 1.15 serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

 body {
  font-family: Letter Gothic Std, serif; thin
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  color: #000;
  background-color: #f5e7d7;
  margin: 0;
  }

.framework {
  width: 90%;
  max-width: 60em;
  margin: 1em auto;
  }

#banner h1 {
  font-size: 5em;
  text-align: center;
  color: #000;
  background-color: #fff;
  padding: .5em 0;
  }

#banner h2 {
  font-size: 2em;
  text-align: center;
  color: #000;
  background-color: #f5e7d7;
  padding: .5em 0;
  }

#why-root-veggies {
  font-size: 100%
  line-height: 1.15 serif;
}


nav {
  text-align: left;
  }

nav ul {
  list-style: none;
  padding-left: 0;
  }

nav li {
  border-top: 1px solid #000;
  }

nav li:first-child {
  border-top: none;
  }

nav a {
  display: inline-block;
  color: #000;
  text-decoration: none;
  padding: 1em 0;
  }


/* wider Screen layout */

@media (min-width: 40em) {


#banner h1 {
  font-size: 6em;

  }

@media (min-width: 60em) {


#banner h1 {
  font-size: 3em;
  }

}




